@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway:300,400,700|Dancing+Script:400,700');

.inf {
	font-size: 12px;
	font-style: italic;
    color: #8a8a8a;
}

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.centered {
	text-align: center;
}

header {
	background: url("../img/background.jpg") no-repeat center 70%;
	background-size: 100%;
	color: #ffffff;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	padding: 5px 0;
}

.navbar .icon-bar {
    background-color: #ffffff;
}

.navbar .navbar-brand {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
}

.navbar .navbar-brand:hover {
    color: #ced1cc;
}

.navbar .nav a {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
}

.navbar .nav a:hover {
	background-color: transparent;
	color: #ced1cc;
}

#headerwrap {
	padding-top: 20px;
	min-height: 440px;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	#headerwrap {
		min-height: 370px;
		padding-bottom: 80px
	}
}

#headerwrap h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 100px;
	margin-top: 40px;
}

#headerwrap h1::after {
	content: "";
	display: block;
	margin: 40px auto 20px;
	height: 4px;
	width: 120px;
	background-color: #ffffff;
}

#headerwrap p {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.3;
}

@media only screen and (max-width: 768px) {
    #headerwrap h1 {
      margin-top: 130px;
      font-size: 70px;
    }

    #headerwrap h1::after {
    	margin: 25px auto 10px;
    	height: 2px;
    	width: 80px;
    }

    #headerwrap p {
    	font-size: 15px
    }
}

#headerwrap a {
	color: #ffffff;
	text-decoration: underline;
}

main {
	padding: 40px 0;
	border-bottom: 1px solid #ced1cc;
}

.news i {
	font-size: 14px;
	font-style: normal;
    color: #8a8a8a;
}

.news h2 {
	font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

footer {
	padding: 70px 0;
}

footer a {
	color: #555555;
	text-decoration: underline;
}

footer a:hover {
	color: #191919;
}

footer .social {
	padding: 0;
}

footer .social li {
	display: inline-block;
	margin: 10px;
}

footer .social li a {
	font-size: 45px;
}

@media only screen and (max-width: 768px) {
	footer .social li a {
		font-size: 30px;
	}
}

@media only screen and (max-width: 640px) {
	footer .social li a {
		font-size: 15px;
	}
}

footer .social li a:hover {
    color: #008592;
}


/* "About Us" page styles */

header.about-us {
	background: url("../img/about-background.jpg") no-repeat center 70%;
}


/* "Sample Page" page styles */

header.sample-page {
	background: url("../img/page-background.jpg") no-repeat center 70%;
	background-size: cover;
}

a.black {
    color: #191919;
}

/* "Contact" page styles */

header.contact {
	background: url("../img/contact-background.jpg") no-repeat center 70%;
}

.form-group input,
.form-group textarea {
  border: none;
  border-bottom: 1px solid #a5a5a5;
  border-radius: 0;
  font-size: 18px;
  resize: none;
  box-shadow: none;
  margin-bottom: 1em;
}

.form-group input:focus,
.form-group textarea:focus {
	box-shadow: none;
	border-color: #a5a5a5;
}

form button {
	border-radius: 0;
	text-transform: uppercase;
	height: 40px;
	width: 80px;
}